body, input, button, textarea {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #18191F;
}

html, body, #root {
    height: 100%;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #18191F;
}

.header {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.header__logo {
    height: 50px;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu-button {
    margin-left: 32px;
}

.header__menu-link + .header__menu-link {
    margin-left: 32px;
}

@media (max-width: 1000px) {
    .header__menu-link + .header__menu-link {
        margin-left: 0;
        margin-top: 8px;
    }

    .header__menu-links {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .header__inner {
        flex-direction: column;
    }

    .header__menu {
        justify-content: center;
        margin-top: 8px;
    }

    .header__logo {
        margin: auto;
    }
}

.wrap {
    max-width: 1200px;
    /* padding-left: 16px;
    padding-right: 16px; */
    width: 100%;
    margin: auto;
}

.wrap__offset {
    padding-left: 16px;
    padding-right: 16px;
}
.text {
    font-size: 18px;
    line-height: 21px;
}

.text.text_size_s {
    font-size: 12px;
}

.text.text_size_m {
    font-size: 16px;
}

.text.text_color_grey {
    color: #37352F;
}

.text.text_bold {
    font-weight: 800;
}

.text.text_header {
    font-size: 30px;
    line-height: 32px;
}

.text.text_center {
    text-align: center;
}

.text > p {
    margin: 10px 0;
}


.button {
    display: inline-block;
    padding: 13px 18px;
    border-radius: 16px;
    color: #18191F;
    outline: none;
    cursor: pointer;

    border: 2px solid #18191F;
    background-color: #FFBD12;

    box-shadow: 0px 4px 0px 0px #18191F;
}

.button_size_s {
    padding: 10px 16px;
}

.button_large {
    width: 300px;
}

.button_wide {
    width: 100%;
}

.button_size_l {
    padding: 16px 21px;
}

.button.button_color_black {
    background-color: #18191F;
    color: white;
    box-shadow: none;
}

.button_color_blue {
    background-color: #1947E5;
    color: white;
}

@media (max-width: 1000px) {
    .button_large {
        width: auto;
    }
}

/* .button:hover {
    color: white;
    background-color: #1D4354;
} */
.main-block {
    margin-top: 130px;
    position: relative;
}

.main-block__header {
    width: 100%;
    max-width: 327px;
}

.main-block__desc {
    width: 100%;
    max-width: 500px;
    margin-top: 16px;
}

.main-block__inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-block__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;
}

.main-block__like {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
}

.main-block__like-text {
    margin-left: 16px;
}

.main-block__phone-img {
    position: absolute;
    top: -70px;
    right: 460px;
}

.main-block__macbook-img {
    position: absolute;
    top: -58px;
    left: 510px;
}

.main-block__paint-img {
    position: absolute;
    top: -277px;
    right: -484px;
    height: 583px;
    z-index: -1;
}

.main-block__input-wrap {
    width: 300px;
}

.main-block__input-wrap + .main-block__input-wrap {
    margin-left: 42px;
}

@media (max-width: 1000px) {
    .main-block__input-wrap + .main-block__input-wrap {
        width: auto;
    }
}

@media (max-width: 700px) {
    .main-block {
        margin-top: 18px;
    }

    .main-block__inputs {
        flex-direction: column;
    }

    .main-block__footer {
        flex-direction: column;
    }

    .main-block__input-wrap + .main-block__input-wrap {
        margin-left: 0;
        margin-top: 16px;
        width: 100%;
    }

    .main-block__like {
        margin-left: 0;
        margin-top: 16px;
    }

    .main-block__macbook-img {
        display: none;
    }

    .main-block__paint-img {
        display: none;
    }
}

.input {
    border: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 13px 18px;
    font-size: 21px;
    outline: none;
    border: 2px solid #18191F;
    border-radius: 16px;
}

.input:disabled {
    background-color: #ccc;
}

.input.input_wide {
    width: 100%;
}

textarea.input {
    resize: none;
}

.demo-block {
    background-color: #F9F5F1;
    border-radius: 16px;
    margin-top: 60px;
    padding: 45px 0 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-block__top {
    background-color: white;
    border-radius: 16px;
    border: 2px solid #18191F;
    display: flex;
    flex-direction: row;
    padding: 24px;
}

.demo-block__top-button + .demo-block__top-button {
    margin-left: 28px;
}

.demo-block__content {
    margin-top: 40px;
    max-width: 878px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.demo-block__content-block {
    padding-bottom: 64%;
    position: relative;
    max-width: 100%;
    height: 0;
}

.demo-block__content-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .0;
    transition: opacity .3s ease-in-out;
}

.demo-block__content-inner_active {
    opacity: 1.0;
}

@media (max-width: 700px) {
    .demo-block__top {
        flex-direction: column;
    }

    .demo-block__top-button + .demo-block__top-button {
        margin-left: 0;
        margin-top: 16px;
    }
}
.ways {
    margin-top: 64px;
}

.ways__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ways__desc {
    width: 100%;
    max-width: 500px;
    margin-top: 18px;
}

.ways__table-desc {
    margin-top: 18px;
}

.ways__table {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
}

.ways__cell {
    flex: 1;
    text-align: center;
}

.ways__cell + .ways__cell {
    border-left: 1px solid #8F8E8A;
}

.ways__table-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ways__cell-content {
    padding: 0 10px;
    max-width: 350px;
    margin: auto;
}

.ways__cell-img-wrap {
    padding-bottom: 62%;
    position: relative;
    max-width: 100%;
    height: 0;
    margin-bottom: 18px;
}

@media (max-width: 700px) {
    .ways__table {
        flex-direction: column;
    }

    .ways__cell + .ways__cell {
        border-left: none;
    }
}

.twine {
    padding-top: 220px;
    padding-bottom: 126px;

    background-image: url(paint.jpg);
    background-repeat: no-repeat;
    background-size: 766px;
    background-position: -90px 10px;
}

.twine__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twine__desc {
    margin-top: 18px;
}

.twine__actions {
    margin-top: 44px;
    display: flex;
    flex-direction: row;
}

.twine__input + .twine__input {
    margin-left: 40px;
    max-width: 300px;
}

.twine__paint-img {
    position: absolute;
    top: -210px;
    left: -263px;
    height: 575px;
    z-index: -1;
}

@media (max-width: 700px) {
    .twine {
        padding-top: 150px;
    }

    .twine__actions {
        flex-direction: column;
        width: 100%;
    }

    .twine__input + .twine__input {
        margin-left: 0;
        margin-top: 16px;
        width: 100%;
    }
}
.powered__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.powered__desc {
    width: 100%;
    max-width: 500px;
    margin-top: 18px;
}

.powered__plits {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
}

.powered__plit {
    background-color: #FFBD12;
    border-radius: 16px;
    border: 2px solid #18191F;
    padding: 24px;
    box-shadow: 0px 4px 0px 0px #18191F;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.powered__plit-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.powered__plit + .powered__plit {
    margin-left: 84px;
}

.powered__plit-desc {
    margin-left: 12px;
}

.powered__plit-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.powered__plit-bottom-left {
    display: flex;
    flex-direction: row;
}

.powered__plit-count {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.powered__plit-count + .powered__plit-count {
    margin-left: 30px;
}

.powered__plit-count-number {
    margin-left: 8px;
}

@media (max-width: 1000px) {
    .powered__plits {
        flex-direction: column;
    }

    .powered__plit + .powered__plit {
        margin-left: 0;
        margin-top: 30px;
    }
}
.today {
    margin-top: 143px;
}

.today__header {
    position: relative;
    padding: 0 10px;
}

.today__header::after, .today__header::before {
    position: absolute;
    content: '🌟';
    top: 0;
}

.today__header::after {
    left: -25px;
}

.today__header::before {
    right: -25px;
}

.today__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.today__desc {
    margin-top: 18px;
}

.today__actions {
    width: 100%;
    max-width: 327px;
    margin-top: 52px;
}

.today__button {
    margin-top: 32px;
}

.today__person-img {
    position: absolute;
    left: 20px;
    top: 0;
    z-index: -1;
}

@media (max-width: 1000px) {
    .today__person-img {
        display: none;
    }
}

@media (max-width: 700px) {
    .today {
        margin-top: 80px;
    }

    .today__button {
        margin-top: 16px;
        width: 100%;
    }

    .today__header {
        width: 185px;
    }
}

.footer {
    margin-top: 118px;
    padding-top: 30px;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.footer__column {
    flex: 1;
}

.footer__link {
    display: block;
}

.footer__header {
    margin-bottom: 12px;
}

.footer__link + .footer__link {
    margin-top: 6px;
}

.footer__desc {
    margin-top: 20px;
}

.footer__logo {
    height: 50px;
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
    }

    .footer__column + .footer__column {
        margin-top: 21px;
    }
}
.avatar {
    background-color: #F95A2C;
    border-radius: 300px;
    border: 2px solid #18191F;
}
